.layout {

    .navbar {
        top: 0;
        position: absolute;
    }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 240px);
    height: calc(100vh - 75px);
    margin:75px 0 0 240px;
    position: relative;
  }
}
